<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link  id="pagestyle" rel="stylesheet" href="./css/bootstrap-dark.min.css">
    <script src="js/themeHandler.js"></script>
<style>
.from-container{
        width:75%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<title th:text="#{form.login}"></title>
<link rel="icon" href="/favicon.ico">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="from-container">
        <h1 th:text="#{form.login}"></h1>
        <th:block th:if="${param.logout}">            
            <div th:text="#{was.logout}"></div>
        </th:block>
        <form class="form-group" th:action="@{/login}" method="POST">      
                <div class="form-group">
                    <label th:text="#{user.username}"></label>
                    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label th:text="#{user.password}"></label>
                    <input class="form-control" id="password" name="password" type="password"/>
                </div>
                <th:block th:if="${param.error}">
                    <div class="text-danger" th:text="#{invalid.username.password}"></div>
                </th:block>
            <button class="btn btn-primary" type="submit" th:text="#{form.login.submit}">submit</button>
        </form>
     </div>
</body>
</html>
